{% extends "layouts/main.html" %}

{% set pageName="What is your postcode?" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="check-your-answers" method="post" novalidate>

            <div class="govuk-form-group">

                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="address-postcode">
                        {{ pageName }}
                    </label>
                </h1>

                <input class="govuk-input govuk-input--width-10" id="address-postcode" name="addressPostcode" type="text" autocomplete="postal-code">
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
        
    </div>
</div>

{% endblock %}